@model INTEX_II.Models.Crash

@{
    ViewData["Title"] = "Confirm Deletion";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Crash</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRASH_DATETIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRASH_DATETIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROUTE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROUTE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MILEPOINT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MILEPOINT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LAT_UTM_Y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LAT_UTM_Y)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LONG_UTM_X)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LONG_UTM_X)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAIN_ROAD_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAIN_ROAD_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COUNTY_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COUNTY_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRASH_SEVERITY_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRASH_SEVERITY_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WORK_ZONE_RELATED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WORK_ZONE_RELATED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEDESTRIAN_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEDESTRIAN_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BICYCLIST_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BICYCLIST_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MOTORCYCLE_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MOTORCYCLE_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMPROPER_RESTRAINT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMPROPER_RESTRAINT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UNRESTRAINED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UNRESTRAINED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INTERSECTION_RELATED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INTERSECTION_RELATED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WILD_ANIMAL_RELATED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WILD_ANIMAL_RELATED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOMESTIC_ANIMAL_RELATED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOMESTIC_ANIMAL_RELATED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OVERTURN_ROLLOVER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OVERTURN_ROLLOVER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMMERCIAL_MOTOR_VEH_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMMERCIAL_MOTOR_VEH_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TEENAGE_DRIVER_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TEENAGE_DRIVER_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OLDER_DRIVER_INVOLVED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OLDER_DRIVER_INVOLVED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIGHT_DARK_CONDITION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIGHT_DARK_CONDITION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SINGLE_VEHICLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SINGLE_VEHICLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DISTRACTED_DRIVING)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DISTRACTED_DRIVING)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DROWSY_DRIVING)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DROWSY_DRIVING)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROADWAY_DEPARTURE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROADWAY_DEPARTURE)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="CRASH_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Main" asp-route-pageNum="@ViewBag.pageNumReturn" class="btn btn-secondary btn-sm">Back to List</a>
    </form>
</div>
