@model INTEX_II.Models.Crash

@{
    ViewData["Title"] = "Edit";
    ViewData["Header"] = ViewData["Title"];

}

<h4>Crash</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CRASH_ID" />
            <div class="form-group">
                <label asp-for="CRASH_DATETIME" class="control-label"></label>
                <input asp-for="CRASH_DATETIME" type="datetime-local" class="form-control" 
                       value="@ViewBag.dateTime"/>
                <span asp-validation-for="CRASH_DATETIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROUTE" class="control-label"></label>
                <input asp-for="ROUTE" class="form-control" />
                <span asp-validation-for="ROUTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MILEPOINT" class="control-label"></label>
                <input asp-for="MILEPOINT" class="form-control" />
                <span asp-validation-for="MILEPOINT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LAT_UTM_Y" class="control-label"></label>
                <input asp-for="LAT_UTM_Y" class="form-control" id="lat"/>
                <span asp-validation-for="LAT_UTM_Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LONG_UTM_X" class="control-label"></label>
                <input asp-for="LONG_UTM_X" class="form-control" id="long"/>
                <span asp-validation-for="LONG_UTM_X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAIN_ROAD_NAME" class="control-label"></label>
                <input asp-for="MAIN_ROAD_NAME" class="form-control" />
                <span asp-validation-for="MAIN_ROAD_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITY" class="control-label"></label>
                <select asp-for="CITY" class="form-control">
                    <option value="@Model.CITY">@Model.CITY</option>
                    <vc:city></vc:city>
                </select>
                <span asp-validation-for="CITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COUNTY_NAME" class="control-label"></label>
                <select asp-for="COUNTY_NAME" class="form-control">
                    <option value="@Model.COUNTY_NAME">@Model.COUNTY_NAME</option>
                    <vc:county></vc:county>
                </select>
                <span asp-validation-for="COUNTY_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CRASH_SEVERITY_ID" class="control-label"></label> (From 1 - No injury to 5 - Fatal)
                @*<input asp-for="CRASH_SEVERITY_ID" class="form-control" />*@
                <select asp-for="CRASH_SEVERITY_ID" class="form-control">
                    <option value="" disabled selected>Please Select A Value</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="CRASH_SEVERITY_ID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WORK_ZONE_RELATED" /> @Html.DisplayNameFor(model => model.WORK_ZONE_RELATED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PEDESTRIAN_INVOLVED" /> @Html.DisplayNameFor(model => model.PEDESTRIAN_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BICYCLIST_INVOLVED" /> @Html.DisplayNameFor(model => model.BICYCLIST_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MOTORCYCLE_INVOLVED" /> @Html.DisplayNameFor(model => model.MOTORCYCLE_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IMPROPER_RESTRAINT" /> @Html.DisplayNameFor(model => model.IMPROPER_RESTRAINT)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UNRESTRAINED" /> @Html.DisplayNameFor(model => model.UNRESTRAINED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DUI" /> @Html.DisplayNameFor(model => model.DUI)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="INTERSECTION_RELATED" /> @Html.DisplayNameFor(model => model.INTERSECTION_RELATED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WILD_ANIMAL_RELATED" /> @Html.DisplayNameFor(model => model.WILD_ANIMAL_RELATED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DOMESTIC_ANIMAL_RELATED" /> @Html.DisplayNameFor(model => model.DOMESTIC_ANIMAL_RELATED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OVERTURN_ROLLOVER" /> @Html.DisplayNameFor(model => model.OVERTURN_ROLLOVER)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" /> @Html.DisplayNameFor(model => model.COMMERCIAL_MOTOR_VEH_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TEENAGE_DRIVER_INVOLVED" /> @Html.DisplayNameFor(model => model.TEENAGE_DRIVER_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OLDER_DRIVER_INVOLVED" /> @Html.DisplayNameFor(model => model.OLDER_DRIVER_INVOLVED)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NIGHT_DARK_CONDITION" /> @Html.DisplayNameFor(model => model.NIGHT_DARK_CONDITION)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SINGLE_VEHICLE" /> @Html.DisplayNameFor(model => model.SINGLE_VEHICLE)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DISTRACTED_DRIVING" /> @Html.DisplayNameFor(model => model.DISTRACTED_DRIVING)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DROWSY_DRIVING" /> @Html.DisplayNameFor(model => model.DROWSY_DRIVING)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ROADWAY_DEPARTURE" /> @Html.DisplayNameFor(model => model.ROADWAY_DEPARTURE)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning custom-btn-rounded" /> |
                <a asp-action="Main" asp-route-pageNum="@ViewBag.pageNumReturn" class="btn btn-secondary custom-btn-rounded">Cancel</a>
            </div>
            <br />
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h5>Place a pin on the location of the crash to get latitude and longitude:</h5>
        <style>
            .col-md-7 {
                margin: 0;
                padding: 0;
            }

            #map {
                height: 50%;
                width: 70%;
            }
        </style>

        <div id="map"></div>
        <script>
                function initMap() {
                    var myLatlng = { lat: 40, lng: -112 };
                    var map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 6.5,
                        center: myLatlng,
                    });
                    // Create the initial InfoWindow.
                    let infoWindow = new google.maps.InfoWindow({
                        content: "Click the map to get Lat/Lng!",
                        position: myLatlng,
                    });

                    infoWindow.open(map);
                    // Configure the click listener.
                    map.addListener("click", (mapsMouseEvent) => {
                        // Close the current InfoWindow.
                        infoWindow.close();
                        // Create a new InfoWindow.
                        infoWindow = new google.maps.InfoWindow({
                            position: mapsMouseEvent.latLng,
                        });
                        infoWindow.setContent(
                            JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                        );
                        infoWindow.open(map);

                        jsonString = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2);

                        var lat = jsonString.slice((jsonString.indexOf("lat", 0) + 6), jsonString.indexOf("lng") - 5);
                        var lng = jsonString.slice((jsonString.indexOf("lng") + 6), jsonString.indexOf("}") -1);



                        document.getElementById("lat").value = lat;
                        document.getElementById("long").value = lng;
                    });
                }
        </script>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZpt3_W-XjvhSkuK5vzbMhqAtipZKqZVU&callback=initMap"></script>


    </div>
</div>
